header {position: relative}
header > a {position: absolute; bottom: 10vh; margin-left: 14vw}
table {display: inline-block; border-collapse: collapse}
td, th {border: 1px solid black; cursor: pointer}
#wrapMode {position: relative; margin-bottom: 5vh}
#btnCreateTBLNormal, #btnCreateTBLJson {position: absolute; margin-left: 1vw}
#containerTBL {margin-bottom: 4vh}
#containerTBLTxt {display: flex; justify-content: center; margin-bottom: 5vh}
#btnCreateTBLJson {vertical-align: text-bottom}
.selected {color: red}
._hidden {visibility: hidden}